.title {
	font-size: 300%;
	color: skyblue;
	background-color: whitesmoke;
}

.grad {
	font-size: 130%;
}

p {
	font-size: large;
	color: gray;
}

* {
	text-align: center;
	background-color: black;
	color: gray;
	margin: 0;
}

li {
	list-style: none;
}

.menu a {
	display: inline-block;
	font-size: 150%;
	background-color: rgba(255, 255, 255, 0.7);
	color: white;
}

